<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ADSO_N_2617510_G2/docs/trim7/PROYECTO-API-LATEST/PROYECTO-API/public/

    # Si la solicitud no apunta a un archivo o directorio, redirigirla al index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

